/* ____________reset____________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: 0;
}

:root {
    /* font-size */
    font-size: 16px;

    /* fot-family */
    --poppins: 'Poppins';
    --inter: 'Inter';
    --open-sans: 'Open Sans Condensed';

    /* colors */
    --dark-blue: #0D0C22;
    --wihte: #FFF;
    --blue: #5465FF;
    --blue-700: #175CD3;
    --lavander: #5925DC;
    --orenge: #C4320A;
    --dark-grey: #858585;
    --black: #000;
}
/* ____________reset____________ */

/* ____________design-desk-top____________ */

/* ____________header____________ */
header {
    padding: 3rem 1rem;
}

.style-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-sign {
    display: flex;
    gap: 1.5rem;
}

.menu {
    display: none;
}

.flex-sign > button {
    color: var(--dark-blue);
    font-family: var(--poppins);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* ____________header____________ */

/* ____________hero-section____________ */
.hero-sec img {
    width: 100%;
}

.img-re {
    display: none;
}
/* ____________hero-section____________ */

/* ____________sec-2____________ */

/* ____________sec-2____________ */

/* ____________footer____________ */
footer {
    padding: 4rem 0 3rem 0;
}

.flex-ftr {
    display: flex;
    justify-content: start;
    gap: 4rem;
}

.ul-ftr {
    padding-left: 0;
    list-style: none;
}

.row {
    --bs-gutter-x: 3.5rem;
    --bs-gutter-y: 0;
}

.ul-ftr a {
    text-decoration: none;
    color: var(--dark-blue);
    font-family: var(--poppins);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.5rem; 
    white-space: nowrap;
}

.h6-pages {
    color: var(--dark-grey);
    font-family: var(--poppins);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    white-space: nowrap;
}

.p-knowing {
    color: var(--dark-grey);
    font-family: var(--poppins);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 3rem;
}

.flex-res {
    display: flex;
    gap: 2rem;
}

#hr-ftr {
    background: var(--blue);
    height: 0.125rem;
    border: 0;
}

.end-flex {
    display: flex;
    justify-content: space-between;
}

.head-company {
    color: var(--dark-grey);
    font-family: var(--poppins);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; 
}

.nav-bar-ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
/* ____________footer____________ */

/* ____________design-desk-top____________ */

/* ____________design-mobile____________ */

@media screen and (max-width: 480px) {
    /* header */
    .menu {
        display: flex;
    }

    .flex-sign {
        display: none;
    }

    /* hero-sec */
    .hero-sec  img:first-of-type {
        display: none;
    }

    .img-re {
        display: flex;
    }

    /* footer */
    .flex-ftr {
        display: flex;
        flex-direction: column;
    }

    .p-knowing {
        margin-top: 1rem;
    }

    .flex-res {
        display: flex;
    }

    .end-flex {
        display: flex;
        flex-direction: column-reverse;
    }

    .nav-bar-ul {
        display: flex;
        justify-content: start;
        align-items: start;
        padding-left: 0;
    }
}

/* ____________design-mobile____________ */